*{
  margin: 0;
}
body {
 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  background: url(./assets/img/bg.png) #fff;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



/* Header **/
.header{
  margin-bottom: 30px !important;
  background-color: #fff !important;
  padding: 0 22px 0 0 0 !important;
  border-radius: 6px !important;
  box-shadow: 0px 2 px 92px 0 px rgba(0,0,0,0.07) !important;    
  
  }
  .header .header_navlink{
      padding: 0;
  }
  .header .header_link{
      font-weight: 500;
      color: darkslategray !important;
  }
  .header .header_link_active{
      color: var(--main-color) !important;
      font-weight: 500;
  }
  .header .header_home{
      background-color: var(--main-color);
      padding: 22px;
      display:flex;
      justify-content: center;
      align-items: center;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
  }
  .header .header_left{
     margin-right: auto !important;
  }
  .header .header_right{
      display: flex !important;
      align-items: center !important;
  }
  .header .header_right > a > .MuiSvgIcon-root{
      font-size: 16px !important;
      margin-right: 12px;
      color : #000;
  }